html,
body {

	min-width: 1280px;
	min-height: 2762px;
	margin: 0;
	padding: 0;
	background: #000000 url("../img/catalog.jpg") no-repeat 50% 0px;
	background-size: 1280px auto;
	font-family: "PT Sans" ,"Arial";
	font-size: 14px;
	line-height:21px;
	color: #000000;
	font-weight: bold;
	text-transform:uppercase ;
	

}

.text {
	margin:0;
	
}

div.page-container {
	width: 1200px;
	
    margin: 0 auto;
	background-color:rgba(249, 201, 16,0.5);
	
	
  
  
	
}

.page-header {
	pading: 0 10px;
  /* Только для оформления сетки */
  min-height: 56px;
  background-color:rgba(50, 50, 16,0.5);
}


li.page-header-navigation-item {
    display: inline-block;
    
}


div.page-header-index-logo {
	position:absolute;
	top: 0px;
    left: 50%;
	margin-left: -69px;
}


.page-content {
	background-color:rgba(50, 100, 16,0.5);
	
	
}

.page-content-main-picture {
	
	
	/* Только для оформления сетки */
	min-height: 510px;
	background-color:rgba(50, 150, 16,0.5);
	
}

.page-content-main-picture img {
	display: block;
}

.page-content-tagline {
	display: block;
	/* Только для оформления сетки */
	min-height: 108px;
	background-color:rgba(129, 179, 210,0.5);
}

.page-content-features-header {
	
	/* Только для оформления сетки */
	min-height: 107px;
	background-color:rgba(210, 198, 129,0.5);
}

.page-content-features-text,
.item-icon{
	width: 400px;
	min-height: 256px;
	float:left;
	background-color:rgba(210, 20, 129,0.5);
}

.item-icon {
	min-height: 330px;
	
}

.page-content-features-photo {
	display:block;
	float:left;
	width: 800px;
}
	
.page-content-features::after,
.page-footer::after,
.page-content-hotel-selection-form::after,
.found-hotel::after{
 content: "";
 display: table;
 clear: both;
}

.page-content-index-found {
	min-height: 291px;
	
}

.page-content-index-map-picture {
	min-height: 473px;
	
}

.page-content-index-map-picture img{
	display:block;
	
}

.page-footer {
	min-height: 84px;
	padding-top: 36px;
	
}

.page-footer-contacts{
	float: left;
	width: 200px;
	min-height:37px;
	background-color:rgba(210, 20, 129,0.5);
	font-size: 21px;
	line-height:26px;
	padding-top:11px;
	margin-left:133px;
	
}

.page-footer-social{
	float: left;
	width: 150px;
	min-height:48px;
	background-color:rgba(210, 20, 129,0.5);
	margin-left:190px;
	
}

.footer-copyright{
	float: right;
	width: 241px;
	min-height: 48px;
	background-color:rgba(210, 20, 129,0.5);
	vertical-align:middle;
	line-height:26px;
	margin-right: 55px;
}

.page-content-hotel-selection-form {
	
	background: #000000 url("../img/mainphotocat.jpg") no-repeat 50% -290px;
	background-size: 1280px auto; 
	min-height:217px;
}

.page-content-infrastructure-form,
.hotel-type-form {
	float:left;
	width: 240px;
	min-height:217px;
	padding:0;
	border: none;
	margin-left: 50px;

}
.price-night-form {
	float:right;
	width: 370px;
	margin-right: 50px;
	padding:0;
	border: none;
	min-height:217px;
}

.page-content-sorting-found {
	min-height:86px;
	
	
}

.page-content-sorting-found li{
	display:inline-block;
	
}

.found-hotel-img {
	width:160px;
	float:left;
	min-height:152px;
	margin-left: 60px;
	
}

.found-hotel-img img {
	display:block;
	margin: 31px auto;
	
}
.found-hotel-content {
	min-height:132px;
	width:280px;
	padding: 10px;
	float:left;
	
}

.content-hotel-rating {
	float:right;
	width:200px;
	padding: 10px;
	min-height:132px;
	
}






