html,
body {

	min-width: 1280px;
	margin: 0;
	padding: 0;
 background-size: 1280px auto;
	background-color:#f2f2f2;
	font-family: "PT Sans" ,"Arial", sans-serif;
	font-size: 14px;
	line-height:21px;
	color: #000000;
	font-weight: bold;
	text-transform:uppercase ;
}

.text {
	margin:0;
}

.photo  {
	display: block;
}

.page-container {
	width: 1200px;
  margin: 0 auto;
	position: relative;
	box-shadow: 0 0 15px 5px rgba(0, 1, 1, .2);
	/*background-color: white;*/
}

.page-header {
		background-color: #ffffff;
		color:#000000;
}

.page-header-navigation  a{
	color: #000000;
	text-decoration: none;
}

.page-header-navigation  a:hover{
	color: #81b3d2;
}

.page-header-navigation  a:active{
	color: rgba(0,0,0,.3);
}

.page-header-navigation .active{
	color: #766357;
}

.page-header-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.page-header-navigation li {
    vertical-align: top;
		width: 240px;
		font-size: 14px;
		line-height:26px;
		text-align: center;
		padding: 15px 0;
}

.page-header-navigation li:nth-of-type(3)
 {
	 margin-left:auto;
}

.page-header-navigation li:nth-of-type(4)
 {
	 padding-left: 20px;
	 width:220px;
}

.page-header-index-logo {
	position:absolute;
	top: 0;
	left:50%;
	z-index: 5;
	transform: translateX(-50%);
}

.page-header-index-logo a {
	font-size:0;
}

.page-content-main-picture {
	position: relative;
	width: 1200px;
	height: 510px;
	background-color: #3c78a1;
}

.page-content-main-picture img {
 display: block;
}

.page-content-main-picture::before {
	content: "";
	position: absolute;
	width: 458px;
	height: 352px;
	background: url("../img/welcomesedona.png") no-repeat;
	transform: translate(-50%, -50.5%);
	top:50%;
	left: 50%;
}
.page-content-main-picture::after {
	content: "";
	position: absolute;
	width: 1200px;
	height: 57px;
	background: url("../img/mainphotomask.svg") no-repeat;
	transform: translate(-50%,-100%);
	top:100%;
	left: 50%;
}

.page-content-tagline {
	display: flex;
	min-height: 110px;
}

.page-content-tagline b {
	font-size: 21px;
	line-height:26px;
	text-align: center;
	display: block;
	width: 576px;
	margin-left: auto;;
	margin-right: auto;
	margin-top: auto;
}

.page-content-features-header p {
	font-size: 14px;
	line-height:26px;
	color:#333333;
	font-weight: normal;
	text-align: center;
	margin-left: auto;;
	margin-right: auto;
	margin-top: 26px;
	margin-bottom: 50px;
}

.page-content-features{
	display: flex;
	flex-wrap: wrap;

}

.page-content-features-item{
	font-weight: normal;
	color:#333333;
	text-align: center;

}
.with-photo {
	display: flex;
	background-color: #81b3d2;
	color: #ffffff;

}
.with-photo .page-content-features-text b{
	color: #ffffff;
	text-align: center;
}

.page-content-features-item b{
		display:inline-block;
		font-weight: bold;
		color:#000000;
		font-size: 21px;
		line-height:21px;
		width: 160px;
		margin-bottom: 23px;
}

.item-number {
		display:block;
		margin-bottom: 21px;

}

.page-content-features-text,
.item-icon{
	width: 280px;
	padding: 60px;
	padding-top: 55px;
	padding-bottom: 38px;

}

.big-column{
	padding-left: 40px;
	padding-right: 40px;
	width: 320px;

}

.page-content-features-photo {
	width: 800px;
}

.item-icon{
	min-height: 130px;
	position: relative;
	padding-top: 162px
}
.item-icon p{
margin-top: 0;

}
.item-icon b{
margin-bottom: 24px;
}

.item-icon::before{
	content: "";
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url("../img/spritesheet.png") no-repeat;


}
.houseIcon::before {
    width: 75px;
    height: 72px;
    background-position: -3px -79px;
}

.burgericon::before {
		width: 74px;
    height: 70px;
    background-position: -95px -3px;
}
.burgericon {
		padding-left: 47px;
		padding-right: 47px;
		width: 306px;
}

.souvenirIcon::before {

		width: 64px;
    height: 76px;
    background-position: -203px -48px;
}

.page-content-features-text:nth-of-type(n+3) {
		padding-top: 48px;
		background-color: #eeeeee;
		min-height: 173px;
}

.page-content-index-title {
	font-size: 30px;
	line-height:24px;
	text-align:center;
	margin-top: 55px;
	margin-bottom:  30px;
}

.page-content-index-found p{
		font-weight: normal;
		color: #333333;
		text-align:center;
		line-height:24px;
}

.page-content-index-form-title{
	position: relative;
	background-color: rgba(118, 99, 87, 1	);
	width: 568px;
	margin-left: auto;
	margin-right: auto;

}

.page-content-index-form-title p{
	color: #ffffff;
	font-size: 21px;
	line-height:26px;
	margin-top: 47px;
	margin-bottom: 0;
	padding: 30px;

}



.page-content-index-appointment-form {
	display: block;
	position: absolute;
	width: 458px;
	min-height: 287px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 54px 56px ;
	align-content: space-between;
	background-color: #ffffff;
}

 .page-content-index-appointment-form input {
	 display: block;
	 border:none;
	 background-color: #f2f2f2;
	 padding: 6.5px 11px ;
	 font-size: 14px;
 	 line-height:26px;
	 font-weight: bold;
	 text-transform:uppercase ;
	 margin-bottom: 29px;
	 width: 284px;
	 padding-right: 50px
 }

 .page-content-index-form-date {
	 position:relative;

 }

 .calendar-icon {
	 position:absolute;
	 background-image: url(../img/spritesheet.png);
	 background-repeat: no-repeat;
	 display: block;
	 width: 21px;
	 height: 22px;
	 background-position: -175px -3px;
	 z-index: 10;
	 right:11px;
	 top:8px;
	 cursor: pointer;

 }

.page-content-index-appointment-form label {
 padding: 6.5px 0 ;
 margin-right: auto;
 line-height: 26px;
}

.page-content-index-appointment-form label:last-of-type {
 margin-right: 26px;
}

.page-content-index-appointment-form-more-less {
	position: relative;
}

.page-content-index-appointment-form-more-less:nth-of-type(3)  {
	margin-right: 53px;

}

.page-content-index-appointment-form-more-less input {
width: 38px;
padding: 6.5px 38px ;
text-align: center;
}

.page-content-index-appointment-form-more-less button {
	position: absolute;
	width: 38px;
  height: 38px;
	font-size: 0;
	background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.page-content-index-appointment-form-more-less button::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	background-color: #a9a9a9;
	transform: translate(-50% ,-50%);
}

.page-content-index-appointment-form-more-less button:last-of-type::after {
	content: "";
	position: absolute;
	width: 3px;
	height: 12px;
	background-color: #a9a9a9;
	transform: translate(-50% ,-50%);
}

.page-content-index-appointment-form-more-less button:nth-last-of-type(1) {
	right:0;
	top:0;
	background-color: #f2f2f2;
}

.page-content-index-form-btn {
	width: 100%;
	border: 0;
	font-size: 21px;
	line-height:26px;
	font-weight: bold;
	text-transform:uppercase ;
  cursor: pointer;
	background-color: #81b3d2;
	color:#ffffff;
	padding: 16px;
	margin-bottom: 1px;
	margin-top: 24px;
}
 .page-content-index-map-picture {
 	min-height: 473px;

 }

.page-footer {
	min-height: 84px;
	padding-top: 36px;

}

.page-footer-contacts{
	float: left;
	width: 200px;
	min-height:37px;
	background-color:rgba(210, 20, 129,0.5);
	font-size: 21px;
	line-height:26px;
	padding-top:11px;
	margin-left:133px;

}

.page-footer-social{
	float: left;
	width: 150px;
	min-height:48px;
	background-color:rgba(210, 20, 129, 0.5);
	margin-left:190px;

}

.footer-copyright{
	float: right;
	width: 241px;
	min-height: 48px;
	background-color:rgba(210, 20, 129,0.5);
	vertical-align:middle;
	line-height:26px;
	margin-right: 55px;
}

.page-content-hotel-selection-form {

	background: #000000 url("../img/mainphotocat.jpg") no-repeat 50% -290px;
	background-size: 1280px auto;
	min-height:217px;
}

.page-content-infrastructure-form,
.hotel-type-form {
	float:left;
	width: 240px;
	min-height:217px;
	padding:0;
	border: none;
	margin-left: 50px;

}
.price-night-form {
	float:right;
	width: 370px;
	margin-right: 50px;
	padding:0;
	border: none;
	min-height:217px;
}

.page-content-sorting-found {
	min-height:86px;


}

.page-content-sorting-found li{
	display:inline-block;

}

.found-hotel-img {
	width:160px;
	float:left;
	min-height:152px;
	margin-left: 60px;

}

.found-hotel-img img {
	display:block;
	margin: 31px auto;

}
.found-hotel-content {
	min-height:132px;
	width:280px;
	padding: 10px;
	float:left;

}

.content-hotel-rating {
	float:right;
	width:200px;
	padding: 10px;
	min-height:132px;

}


.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-_ {
    width: 26px;
    height: 22px;
    background-position: -3px -3px;
}

.sprite-_ {
    width: 22px;
    height: 22px;
    background-position: -35px -3px;
}

.sprite-_-locked {
    width: 26px;
    height: 22px;
    background-position: -63px -3px;
}



.sprite-calendaricon-hover {
    width: 21px;
    height: 22px;
    background-position: -3px -31px;
}

.sprite-calendaricon-push {
    width: 21px;
    height: 22px;
    background-position: -30px -31px;
}

.sprite-fIcon {
    width: 10px;
    height: 19px;
    background-position: -57px -31px;
}

.sprite-fIcon-push {
    width: 10px;
    height: 19px;
    background-position: -73px -31px;
}



.sprite-logohtml {
    width: 113px;
    height: 39px;
    background-position: -84px -79px;
}

.sprite-logohtml-hover {
    width: 113px;
    height: 39px;
    background-position: -84px -124px;
}

.sprite-logohtml-push {
    width: 113px;
    height: 39px;
    background-position: -202px -3px;
}


.sprite-tviticon {
    width: 17px;
    height: 15px;
    background-position: -175px -48px;
}

.sprite-tviticon-push {
    width: 17px;
    height: 15px;
    background-position: -273px -48px;
}

.sprite-yicon {
    width: 20px;
    height: 16px;
    background-position: -296px -48px;
}

.sprite-yicon-push {
    width: 20px;
    height: 16px;
    background-position: -273px -70px;
}
